{{/* vim: set filetype=mustache: */}}
{{/*
Expand the name of the chart.
*/}}
{{- define "helm.name" -}}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" }}
{{- end }}

{{/*
Create a default fully qualified app name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
If release name contains chart name it will be used as a full name.
*/}}
{{- define "helm.fullname" -}}
{{- if .Values.fullnameOverride }}
{{- .Values.fullnameOverride | trunc 63 | trimSuffix "-" }}
{{- else }}
{{- $name := default .Chart.Name .Values.nameOverride }}
{{- if contains $name .Release.Name }}
{{- .Release.Name | trunc 63 | trimSuffix "-" }}
{{- else }}
{{- printf "%s-%s" .Release.Name $name | trunc 63 | trimSuffix "-" }}
{{- end }}
{{- end }}
{{- end }}

{{/*
Create chart name and version as used by the chart label.
*/}}
{{- define "helm.chart" -}}
{{- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" }}
{{- end }}

{{/*
Common labels
*/}}
{{- define "helm.labels" -}}
helm.sh/chart: {{ include "helm.chart" . }}
{{ include "helm.selectorLabels" . }}
{{- if .Chart.AppVersion }}
app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
{{- end }}
app.kubernetes.io/managed-by: {{ .Release.Service }}
application-framework: spring
application-type: uservice
{{- end }}

{{/*
Selector labels
*/}}
{{- define "helm.selectorLabels" -}}
app.kubernetes.io/name: {{ include "helm.name" . }}
app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}

{{/*
Create the name of the service account to use
*/}}
{{- define "helm.serviceAccountName" -}}
{{- if .Values.serviceAccount.create }}
{{- default (include "helm.fullname" .) .Values.serviceAccount.name }}
{{- else }}
{{- default "default" .Values.serviceAccount.name }}
{{- end }}
{{- end }}

{{/*
Create the env variables
*/}}

{{- define "helm.listEnvVariables" -}}
{{- range $secret := .Values.env.secrets }}
    {{- range $key := $secret.keys }}
    {{- $envPrefix := $secret.prefix | default "" | upper }}
    {{- $envKey := $key | upper | replace "." "_" | replace "-" "_" }}
- name:  {{ $envPrefix }}{{ $envKey }}
  valueFrom:
    secretKeyRef:
      name:  {{ $secret.name }}
      key: {{ $key }}
{{- end }}
{{- end }}
- name: SPRING_PROFILES_ACTIVE
  value: {{.Values.springProfilesActive | quote}}
- name: SPRING_ZIPKIN_BASE_URL
  value: "http://zipkin.monitoring:9411/"
    {{- if .Values.env.normal}}
    {{- if .Values.env.normal.KUBERNETES_PROFILES_ACTIVE }}
- name: HAZELCAST_NETWORK_KUBERNETES_NAMESPACE
  value: {{ .Values.env.normal.KUBERNETES_PROFILES_ACTIVE }}-saas
    {{- end}}
    {{- end}}
{{- range $key, $val := .Values.env.normal }}
- name: {{ $key }}
  value: {{ $val | quote }}
{{- end }}
{{- end }}

{{- define "helm.listVolumeMountsSecrets" -}}
{{- if .Values.volume_secrets }}
    {{- range $secret := .Values.volume_secrets }}
- name: {{ $secret }}
  mountPath:  {{ print "/etc/secrets/" $secret }}
  readOnly: true
    {{- end }}
{{- end }}
{{- end }}

{{- define "helm.listVolumeSecrets" -}}
{{- if .Values.volume_secrets }}
{{- range $secret := .Values.volume_secrets }}
- name : {{ $secret }}
  secret:
    secretName: {{ $secret }}
{{- end }}
{{- end }}
{{- end }}

{{- define "helm.nodeSelector" -}}
  {{- if .Values.env.normal}}
  {{- if .Values.env.normal.KUBERNETES_PROFILES_ACTIVE}}
    "node.kubernetes.io/{{ .Values.env.normal.KUBERNETES_PROFILES_ACTIVE }}": "true"
  {{- end }}
  {{- end }}
  {{- with .Values.nodeSelector }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}


{{- define "helm.tolerations" -}}
  {{- if .Values.env.normal}}
  {{- if .Values.env.normal.KUBERNETES_PROFILES_ACTIVE}}
    - key : node.kubernetes.io/{{ .Values.env.normal.KUBERNETES_PROFILES_ACTIVE }}
      operator : Equal
      value : "true"
      effect : NoSchedule
  {{- end }}
  {{- end }}
  {{- with .Values.tolerations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}

{{- define "helm.affinity" -}}
podAntiAffinity:
  requiredDuringSchedulingIgnoredDuringExecution:
  - labelSelector:
      matchExpressions:
      - key: app.kubernetes.io/instance
        operator: In
        values:
        - {{ .Release.Name }}
    topologyKey: kubernetes.io/hostname
  preferredDuringSchedulingIgnoredDuringExecution:
  - weight: 100
    podAffinityTerm:
      labelSelector:
        matchExpressions:
        - key: app.kubernetes.io/instance
          operator: In
          values:
          - {{ .Release.Name }}
      topologyKey: topology.kubernetes.io/zone

{{- end }}


{{- define "helm.fulldomain" -}}
{{- $subdomain := required ".Values.domain.subdomain is required" .Values.domain.subdomain }}
{{- $basedomain := required ".Values.domain.base is required" .Values.domain.base }}
{{- printf "%s.%s" $subdomain $basedomain }}
{{- end }}


